.services-link {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $clr-link;
    transition: color .3s;

    &:hover {
        color: $clr-hover-effect;
    }
}

.do-better-section {
    padding-bottom: 60px;

    &--services {
        padding-top: 154px;

        @media (min-width: $tablet-min-width) {
            padding-top: 280px;
        }

        @media (min-width: $desktop-min-width) {
            padding-top: 162px;
        }
    }

    &__items-holder {
        display: grid;
        row-gap: 30px;
        margin-top: 30px;

        @media (min-width: $tablet-min-width) {
            grid-template-columns: repeat(2, 1fr);
            gap: 60px;
            margin-top: 60px;
        }

        @media (min-width: $desktop-min-width) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__subtitle {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        margin-top: 10px;
        @extend %gradient-text;

        &--services {
            margin: 0;
        }

        @media (min-width: $tablet-min-width) {
            line-height: 46px;
            font-size: 38px;
        }
    }
}

.item {

    &__subtitle {
        margin-top: 30px;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
    }

    &__subtitle-link {
        color: $clr-link;
        transition: color .3s;

        &:hover {
            color: $clr-hover-effect;
        }
    }
    
    &__image-holder {
        width: $image-better-size;
        height: $image-better-size;
        background: $clr-white;
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'icomoon';
        font-size: $fs-icomoon;

        &--ecommerce::before {
            content: "\e900";
            @extend %gradient-text;
        }

        &--support::before {
            content: "\e907";
            @extend %gradient-text;
        }

        &--coprorate::before {
            content: "\e903";
            @extend %gradient-text;
        }

        &--trust::before {
            content: "\e908";
            @extend %gradient-text;
        }

        &--protection::before {
            content: "\e906";
            @extend %gradient-text;
        }

        &--court:before {
            content: "\e904";
            @extend %gradient-text;
        }
    }
}

%gradient-text {
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}