.publications-link {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $clr-link;
    transition: color .3s;

    &:hover {
        color: $clr-hover-effect
    }
}

.publications-cards-block {
    display: grid;
    gap: 30px;

    @media (min-width: $tablet-min-width) {
        &__item:nth-child(1) {
            grid-area: frst;
        }
    
        &__item:nth-child(2) {
            grid-area: scnd;
        }
        &__item:nth-child(3) {
            grid-area: thrd;
        }

        grid-template-areas: 
        "frst scnd"
        "thrd thrd"
        ;
    }
    @media (min-width: $desktop-min-width) {
        grid-template-areas: 
        "frst scnd thrd"
        ;
    }
}

.publication-card {
    padding: 0px 30px 30px;
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: $clr-white;

    &::before {
        content: '';
        height: 4px;
        background: $bg-footer-line;
        width: $full-width;
        order: 3;
    }

    @media (min-width: $tablet-min-width) {
        min-height: 100%;
    }

    &__image-wrapper {
        margin: 0px -30px;
        order: 0;
    }

    &__image {
        width: $full-width;
        height: 200px;
        object-fit: cover;
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
    }

    &__link {
        color: $clr-link;
        transition: color .3s;
        order: 1;

        &:hover {
            color: $clr-hover-effect;
        }
    }

    &__date {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #B3B3BA;
        order: 2;
    }

    &__p-wrapper {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #000000;
        order: 4;
    }
}

.publications-section {
    background: $bg-publication-card;
    padding-top: 30px;

    &__subtitle {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        margin: 10px 0px 30px;
        @extend %gradient-text;

        @media (min-width: $tablet-min-width) {
            line-height: 46px;
            font-size: 38px;
        }
    }
}