@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?5ihpqa');
    src:  url('../fonts/icomoon.eot?5ihpqa#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?5ihpqa') format('truetype'),
      url('../fonts/icomoon.woff?5ihpqa') format('woff'),
      url('../fonts/icomoon.svg?5ihpqa#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-ecommerce:before {
    content: "\e900";
  }
  .icon-coprorate:before {
    content: "\e903";
  }
  .icon-court:before {
    content: "\e904";
  }
  .icon-fb-logo:before {
    content: "\e905";
  }
  .icon-protection:before {
    content: "\e906";
  }
  .icon-support:before {
    content: "\e907";
  }
  .icon-trust:before {
    content: "\e908";
  }
  